html, body, #container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#frame {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lines {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.light, .dark { padding: 1rem; }
.light { background: white; }
.dark { background: black; }

.light p, :not(.dark) p { --h: 0; --s: 0%; --l: 0%; }
.dark p { --h: 0; --s: 0%; --l: 100%; }

.blood { --h: 0; --s: 95%; }
.clem { --h: 24; --s: 100%; }
.ochre { --h: 39; --s: 79%; }
.green { --h: 120; --s: 61%; }
.sky { --h: 197; --s: 71%; }
.plum { --h: 307; --s: 24%; }

.light .char, :not(.dark) .char { --l: 40%; }
.dark .char { --l: 80% }
.char { font-weight: bold; }

p, .char { color: hsl(var(--h), var(--s), var(--l)); }

.option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  margin: 0 0 0.5em 0;
  clear: both;
  font-weight: bold;
  position: relative;
  max-width: 50%;
  border: 2px var(--border,grey) solid;
  border-right: none;
  background-color: var(--bg,transparent);
  cursor: pointer;
}
.option span {
  margin: 0 0.4em 0 0.8em;
  position: relative;
}
.option img {
  background-color: var(--bg,transparent);
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  top: -1.5px;
  border: 2.8px var(--border,grey) solid;
  transform: scale(0.707) rotate(45deg);
  border-width: 2.8px 2.8px 0 0;
  transform-origin: 100% 100%;
}
